.choose {
    padding: 58px 0 80px 0;

    @media (max-width: 550px) {
        padding: 28px 0 32px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 48px;

        @media (max-width: 550px) {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 16px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 33px;

        @media (max-width: 850px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 550px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border: 1px solid #D9D9DE;
        border-radius: 6px;
    }

    &__img {
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__content {
        padding: 21px 25px;

        @media (max-width: 1000px) {
            padding: 12px;
        }
    }

    &__caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 25px;
        display: block;

        @media (max-width: 1000px) {
            font-size: 18px;
        }
    }

    &__price {
        font-size: 16px;
        line-height: 130%;
        color: #333333;

        @media (max-width: 1000px) {
            font-size: 12px;
        }
    }
}

