.promo {
    padding: 80px 0 0 0;

    @media (max-width: 737px) {
        padding-top: 32px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 44px;

        @media (max-width: 737px) {
            margin-bottom: 16px;
        }

        @media (max-width: 576px) {
            font-size: 22px;
            line-height: 130%;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        border-bottom: 1px solid #D9D9DE;
        padding-bottom: 59px;

        @media (max-width: 737px) {
            padding-bottom: 32px;
            gap: 32px 0;
        }
    }

    &__img {
        grid-column: 4 span;

        @media (max-width: 1000px) {
            display: none;
        }

        img {
            max-width: 100%;
        }
    }

    &__content {
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        grid-column: 8 span;

        @media (max-width: 1000px) {
            grid-column: 12 span;
        }

        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 130%;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
