<section class="activity">
    <div class="container">
        <h2 class="activity__title section-title">Основные направления деятельности</h2>
        <div class="activity__body">
            <div class="activity__item">
                <img src="img/activity/icon-1.png" alt="" class="activity__icon">
                <p class="activity__text">Групповые и индивидуальные туры по Байкалу для российских и иностранных туристов</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-2.png" alt="" class="activity__icon">
                <p class="activity__text">Экскурсии по городу Улан-Удэ, Республике Бурятия, <br> городу Иркутск</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-3.png" alt="" class="activity__icon">
                <p class="activity__text">Услуги гидов-переводчиков на любом иностранном языке</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-4.png" alt="" class="activity__icon">
                <p class="activity__text">Круизы и прогулки по Байкалу на теплоходах и катерах</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-5.png" alt="" class="activity__icon">
                <p class="activity__text">Профессиональная организация охоты и рыбалки на Байкале</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-6.png" alt="" class="activity__icon">
                <p class="activity__text">Аренда автотранспорта для экскурсий и пассажирских перевозок</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-7.png" alt="" class="activity__icon">
                <p class="activity__text">Бронирование гостиниц в городе Улан-Удэ и на Байкале</p>
            </div>
            <div class="activity__item">
                <img src="img/activity/icon-8.png" alt="" class="activity__icon">
                <p class="activity__text">Организация индивидуальных туров и VIP-туров на Байкале</p>
            </div>
        </div>
    </div>
</section>