<section class="camp-desc camp-desc--hotkey">
    <div class="container">
        <ul class="camp-desc__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="camps.html" class="breadcrumbs__link">Турбазы</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="goryachinsk.html" class="breadcrumbs__link">Горячинск</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Гостевой дом «Горячий ключ»</a>
            </li>
        </ul>
        <div class="camp-desc__inner">
            <aside class="camp-desc__sidebar sidebar">
                <h3 class="sidebar__title">Турбазы горячинска</h3>
                <ul class="sidebar__list">
                    <li class="sidebar__item sidebar__item--active">
                        <a href="hot-key.html" class="sidebar__link sidebar__link">Гостевой дом «Горячий ключ»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Туристический комплекс «Авангард»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Отель «Белая карета»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Элитный гостевой дом «Harmony»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Горхон» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Подворье»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Усадьба «Добрыня»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Дворик»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Колибри»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Ромашка»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Семейный» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Три медведя» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Уютный дворик»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Медвежонок»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Гермес»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостиница «Байкал» в Горячинске</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостиница «Драган»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Ясная поляна»</a>
                    </li>
                </ul>
            </aside>
            <div class="camp-desc__content">
                <h1 class="camp-desc__title big-title">Гостевой дом «Горячий ключ»</h1>
                <div class="camp-desc__img">
                    <img src="img/camp-desc/img.jpg" alt="">
                </div>
                <a href="#" class="camp-desc__download"><span>Скачать прайс</span></a>
                <div class="camp-desc__desc">
                    <p>Клуб семейного отдыха «Горячий ключ» расположен в 200 метров от курорта Горячинск, около 1,2 км от берега Байкала, где вы сможете посетить термальный источник и исследовать тропы терренкура. Непосредственно перед домом расположена спортивная площадка. К вашим услугам – теплая беседка с большой печью барбекю, мангалы, баня, сауна с бассейном, снегокаты, лыжи, санки. Для Ваших детей оборудована игровая комната, детский батут, пластиковая горка, виртуальная приставка X BOX, взрослые гости могут размяться в настольный теннис. Добротный трехэтажный дом из соснового леса располагает к комфортному семейному отдыху. В номерах с запахом сосны спится особенно глубоко и спокойно.</p>
                    <p>Сегодня Family Club «Горячий Ключ» в режиме полного комфорта может разместить до 57 гостей, имеет в распоряжении двухэтажное кафе домашней кухни с детским меню и вкусными сезонными предложениями</p>
                </div>
            </div>
        </div>
    </div>
</section>