<section class="cards">
    <div class="container">
        <div class="cards__grid">
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-1.jpg" alt="">
                </div>
                <h3 class="cards__title">Турбазы на Байкале</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-2.jpg" alt="">
                </div>
                <h3 class="cards__title">Экскурсии и туры</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-3.jpg" alt="">
                </div>
                <h3 class="cards__title">Охота и рыбалка</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-4.jpg" alt="">
                </div>
                <h3 class="cards__title">Экстрим туры</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-5.jpg" alt="">
                </div>
                <h3 class="cards__title">Теплоходы, яхты</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-6.jpg" alt="">
                </div>
                <h3 class="cards__title">Красоты Байкала</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-7.jpg" alt="">
                </div>
                <h3 class="cards__title">Гостиницы в Улан-Удэ</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-8.jpg" alt="">
                </div>
                <h3 class="cards__title">Транспорт</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-9.jpg" alt="">
                </div>
                <h3 class="cards__title">Деловой туризм</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-10.jpg" alt="">
                </div>
                <h3 class="cards__title">Круизы по Байкалу</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-11.jpg" alt="">
                </div>
                <h3 class="cards__title">Зимние туры</h3>
            </a>
            <a href="#" class="cards__item">
                <div class="cards__img">
                    <img src="img/cards/img-12.jpg" alt="">
                </div>
                <h3 class="cards__title">Карта Байкала</h3>
            </a>
        </div>
    </div>
</section>