<section class="cards-huntfish">
    <div class="container">
        <div class="cards-huntfish__desc page-desc">
            <p>Отдых на Байкале - это, прежде всего, встреча с Природой, красоту которой здесь не заметить просто не возможно. Кристальная чистота озера, особенный воздух, замечательные пляжи, великолепн    ые возможности для рыбалки делают Байкал очень привлекательным местом для отдыха, поэтому туры на Байкал пользуются заслуженной популярностью.</p>
            <p>С Байкальской рыбалки вы сможете привезти омуля, хариуса, ленка, щуку, налима и еще более 20 видов пресноводных рыб. Зимой на Байкале не менее красиво, чем летом, а подледная рыбалка на самом прозрачном озере мира производит просто неизгладимое впечатление. Круизы и туры предполагают проживание на турбазах, хотя возможны и другие варианты, например можно раскинуть палаточный лагерь.</p>
            <p>Турбазы на Байкале по большей части расположены в тех местах, куда можно доехать автомобильным транспортом. В труднодоступные места летом добираются при помощи водного транспорта, а зимой есть возможность пересекать озеро по льду на судне на надувной подушке.</p>
        </div>
        <div class="cards-huntfish__grid">
            <div class="cards-huntfish__item">
                <img src="img/huntfish/img.jpg" alt="" class="cards-huntfish__img">
                <div class="cards-huntfish__content">
                    <h3 class="cards-huntfish__title">Охотничий тур в Закаменском районе</h3>
                    <div class="cards-huntfish__text">
                        <p>Охотничьи угодья расположены в Закаменском районе Республики Бурятия в горно-таежной зоне Джидинского хребта и Хамар-Дабана. Температура воздуха колеблется в зависимости от времени года и высоты над уровнем моря от + 35° С до –35°С (высота над уровнем моря 400–2000 метров).</p>
                        <p>Снаряжение: легкая и теплая одежда, непромокаемая и сменная обувь. Проживание на месте охоты в неблагоустроенных зимовьях.</p>
                    </div>
                    <div class="cards-huntfish__bottom">
                        <ul class="cards-huntfish__list">
                            <li><span>Продолжительность:</span> от 3 до 8 дней</li>
                            <li><span>Время проведения:</span> круглый год</li>
                            <li><span>Стоимость:</span> от 3000 руб. с чел.</li>
                        </ul>
                        <a href="#" class="cards-huntfish__btn">Подробней</a>
                    </div>
                </div>
            </div>
            <div class="cards-huntfish__item">
                <img src="img/huntfish/img.jpg" alt="" class="cards-huntfish__img">
                <div class="cards-huntfish__content">
                    <h3 class="cards-huntfish__title">Охотничий тур в Закаменском районе</h3>
                    <div class="cards-huntfish__text">
                        <p>Охотничьи угодья расположены в Закаменском районе Республики Бурятия в горно-таежной зоне Джидинского хребта и Хамар-Дабана. Температура воздуха колеблется в зависимости от времени года и высоты над уровнем моря от + 35° С до –35°С (высота над уровнем моря 400–2000 метров).</p>
                        <p>Снаряжение: легкая и теплая одежда, непромокаемая и сменная обувь. Проживание на месте охоты в неблагоустроенных зимовьях.</p>
                    </div>
                    <div class="cards-huntfish__bottom">
                        <ul class="cards-huntfish__list">
                            <li><span>Продолжительность:</span> от 3 до 8 дней</li>
                            <li><span>Время проведения:</span> круглый год</li>
                            <li><span>Стоимость:</span> от 3000 руб. с чел.</li>
                        </ul>
                        <a href="#" class="cards-huntfish__btn">Подробней</a>
                    </div>
                </div>
            </div>
            <div class="cards-huntfish__item">
                <img src="img/huntfish/img.jpg" alt="" class="cards-huntfish__img">
                <div class="cards-huntfish__content">
                    <h3 class="cards-huntfish__title">Охотничий тур в Закаменском районе</h3>
                    <div class="cards-huntfish__text">
                        <p>Охотничьи угодья расположены в Закаменском районе Республики Бурятия в горно-таежной зоне Джидинского хребта и Хамар-Дабана. Температура воздуха колеблется в зависимости от времени года и высоты над уровнем моря от + 35° С до –35°С (высота над уровнем моря 400–2000 метров).</p>
                        <p>Снаряжение: легкая и теплая одежда, непромокаемая и сменная обувь. Проживание на месте охоты в неблагоустроенных зимовьях.</p>
                    </div>
                    <div class="cards-huntfish__bottom">
                        <ul class="cards-huntfish__list">
                            <li><span>Продолжительность:</span> от 3 до 8 дней</li>
                            <li><span>Время проведения:</span> круглый год</li>
                            <li><span>Стоимость:</span> от 3000 руб. с чел.</li>
                        </ul>
                        <a href="#" class="cards-huntfish__btn">Подробней</a>
                    </div>
                </div>
            </div>
            <div class="cards-huntfish__item">
                <img src="img/huntfish/img.jpg" alt="" class="cards-huntfish__img">
                <div class="cards-huntfish__content">
                    <h3 class="cards-huntfish__title">Охотничий тур в Закаменском районе</h3>
                    <div class="cards-huntfish__text">
                        <p>Охотничьи угодья расположены в Закаменском районе Республики Бурятия в горно-таежной зоне Джидинского хребта и Хамар-Дабана. Температура воздуха колеблется в зависимости от времени года и высоты над уровнем моря от + 35° С до –35°С (высота над уровнем моря 400–2000 метров).</p>
                        <p>Снаряжение: легкая и теплая одежда, непромокаемая и сменная обувь. Проживание на месте охоты в неблагоустроенных зимовьях.</p>
                    </div>
                    <div class="cards-huntfish__bottom">
                        <ul class="cards-huntfish__list">
                            <li><span>Продолжительность:</span> от 3 до 8 дней</li>
                            <li><span>Время проведения:</span> круглый год</li>
                            <li><span>Стоимость:</span> от 3000 руб. с чел.</li>
                        </ul>
                        <a href="#" class="cards-huntfish__btn">Подробней</a>
                    </div>
                </div>
            </div>
            <div class="cards-huntfish__item">
                <img src="img/huntfish/img.jpg" alt="" class="cards-huntfish__img">
                <div class="cards-huntfish__content">
                    <h3 class="cards-huntfish__title">Охотничий тур в Закаменском районе</h3>
                    <div class="cards-huntfish__text">
                        <p>Охотничьи угодья расположены в Закаменском районе Республики Бурятия в горно-таежной зоне Джидинского хребта и Хамар-Дабана. Температура воздуха колеблется в зависимости от времени года и высоты над уровнем моря от + 35° С до –35°С (высота над уровнем моря 400–2000 метров).</p>
                        <p>Снаряжение: легкая и теплая одежда, непромокаемая и сменная обувь. Проживание на месте охоты в неблагоустроенных зимовьях.</p>
                    </div>
                    <div class="cards-huntfish__bottom">
                        <ul class="cards-huntfish__list">
                            <li><span>Продолжительность:</span> от 3 до 8 дней</li>
                            <li><span>Время проведения:</span> круглый год</li>
                            <li><span>Стоимость:</span> от 3000 руб. с чел.</li>
                        </ul>
                        <a href="#" class="cards-huntfish__btn">Подробней</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>