<section class="cards-exc">
    <div class="container">
        <div class="page-desc cards-exc__desc">
            <p>Туристическое агентство «Байкальский отдых» предлагает самые интересные и увлекательные экскурсии по городу Улан-Удэ, регионам Республики Бурятия и по озеру Байкал. Экскурсионный маршрут по г. Улан-Удэ включает в себя посещение исторической части Советского района, наиболее интересные объекты Октябрьского и Железнодорожного районов. Прогуливаясь по историческому центру можно совершить увлекательное путешествие по ярким страницам трехвековой истории города; познакомиться с наиболее интересными памятниками искусства и градостроительства, узнать историю строительства крупных промышленных предприятий и культурных объектов, посетить буддийские храмы и православные церкви.</p>
            <p>Экскурсии и туры можно заказать не только на русском, но и на любом иностранном языке. Ведь чаще всего они проводятся для гостей нашей республики. Экскурсии проводят профессиональные гиды-экскурсоводы с опытом работы.</p>
        </div>
        <div class="cards-exc__grid">
            <div class="cards-exc__item">
                <img src="img/cards/img-13.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Обзорная экскурсия по городу Улан-Удэ (на транспорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 3-5 часов</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-15.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Пешеходная экскурсия по исторической части города</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-14.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Вечерняя обзорная экскурсия по городу Улан-Удэ (на траснпорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-13.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Обзорная экскурсия по городу Улан-Удэ (на транспорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 3-5 часов</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-15.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Пешеходная экскурсия по исторической части города</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-14.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Вечерняя обзорная экскурсия по городу Улан-Удэ (на траснпорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-13.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Обзорная экскурсия по городу Улан-Удэ (на транспорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 3-5 часов</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-15.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Пешеходная экскурсия по исторической части города</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
            <div class="cards-exc__item">
                <img src="img/cards/img-14.jpg" alt="" class="cards-exc__img">
                <div class="cards-exc__content">
                    <a href="#" class="cards-exc__caption">Вечерняя обзорная экскурсия по городу Улан-Удэ (на траснпорте)</a>
                    <ul class="cards-exc__list">
                        <li>Продолжительность: 2 часа</li>
                        <li>Время проведения: круглый год</li>
                        <li>Стоимость от 200 руб. с человека</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>