<section class="choose">
    <div class="container">
        <h2 class="choose__title">Выберите турбазу для отдыха</h2>
        <div class="choose__inner">
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-3.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Отель «Белая карета»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-3.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Отель «Белая карета»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-3.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Отель «Белая карета»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-3.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Отель «Белая карета»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-3.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Отель «Белая карета»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-1.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Гостевой дом «Горячий ключ»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
            <div class="choose__item">
                <div class="choose__img">
                    <img src="img/choose/img-2.jpg" alt="">
                </div>
                <div class="choose__content">
                    <a href="#" class="choose__caption">Туристический комплекс «Авангард»</a>
                    <p class="choose__price">Стоимость номеров от 600 руб.</p>
                </div>
            </div>
        </div>
    </div>
</section>