<section class="city-about">
    <div class="container">
        <ul class="city-about__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="camps.html" class="breadcrumbs__link">Турбазы</a>
            </li>
            <li class="breadcrumbs__item">
                <a  class="breadcrumbs__link">Горячинск</a>
            </li>
        </ul>
        <div class="city-about__inner">
            <aside class="city-about__sidebar sidebar">
                <h3 class="sidebar__title">Турбазы горячинска</h3>
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <a href="hot-key.html" class="sidebar__link">Гостевой дом «Горячий ключ»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Туристический комплекс «Авангард»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Отель «Белая карета»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Элитный гостевой дом «Harmony»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Горхон» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Подворье»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Усадьба «Добрыня»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Дворик»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Колибри»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Ромашка»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Семейный» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Три медведя» Горячинск</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Уютный дворик»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Медвежонок»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Гермес»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостиница «Байкал» в Горячинске</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостиница «Драган»</a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#" class="sidebar__link">Гостевой дом «Ясная поляна»</a>
                    </li>
                </ul>
            </aside>
            <div class="city-about__content">
                <h1 class="city-about__title section-title">Горячинск</h1>
                <div class="city-about__img">
                    <img src="img/city-about/img.jpg" alt="">
                </div>
                <div class="city-about__desc">
                    <p>Старинный поселок рыбаков «Горячинск» находится на восточном побережье озера, расположен около 190 км. от города Улан-Удэ. Поселок назван в честь целебных горячих источников. Воды источников Горячинска благоприятно действуют на организм человека и полезны для лечения костно-мышечной, сердечно-сосудистой систем, суставов, органов дыхания. По составу вода горячинских источников азотно-кремнистая, слабоминерализованная, с содержанием сульфата натрия.</p>
                    <p>Климат этого места – более теплый зимой и прохладный летом – как будто специально создан природой для отдыха и лечения – живописная бухта, песчаные пляжи, чистый байкальский воздух и горячие источники.</p>
                </div>
            </div>
        </div>
    </div>
</section>