<section class="contacts-info">
    <div class="container">
        <div class="contacts-info__inner">
            <ul class="contacts-info__breadcrumbs breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Контакты</a>
                </li>
            </ul>
            <h1 class="contacts-info__title big-title">Контакты</h1>
            <div class="contacts-info__text">
                <p>Оформить заявку на базу отдыха, забронировать номер в гостинице или узнать подробную информацию о наших услугах Вы можете по телефону: <a href="tel:8-924-3-541-540">8-924-3-541-540</a> (Viber или WhatsApp)</p>
                <p>Или напишите нам на: <a href="mailto:baikalholiday@mail.ru">baikalholiday@mail.ru</a> и мы ответим на все интересующие Вас вопросы.</p>
            </div>
            <div class="contacts-info__img">
                <img src="img/contacts-info/img-1.jpg" alt="">
            </div>
            <h3>Сотрудничество</h3>
            <div class="contacts-info__text">Чтобы разместить на нашем сайте информацию о своей базе отдыха, гостевом доме, гостинице или услугах по проведению экскурсий, круизов, охоты, рыбалки и иных видах туризма на озере Байкал, предоставлении транспортных услуг, отправьте на почту <a href="mailto:baikalholiday@mail.ru">baikalholiday@mail.ru</a> все необходимые данные: подробное описание базы отдыха или услуги, фотографии, прайс-лист на проживание и оказание дополнительных услуг, экскурсионные программы и их стоимость.</div>
            <h4>Для турагентств и партнеров:</h4>
            <div class="contacts-info__contract contacts-info__contract--first">
                <span>Агентский договор для турбаз (гостевых домов, отелей)</span>
                <a href="#">Скачать агентский договор</a>
            </div>
            <div class="contacts-info__contract">
                <span>Агентский договор для турагентств</span>
                <a href="#">Скачать агентский договор</a>
            </div>
            <h5>Адрес: г. Улан-Удэ, ул.Гражданская, 20 Отель «Рестон», 1 этаж</h5>
            <div class="contacts-info__map">
                <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/198/ulan-ude/search/%D0%90%D0%B4%D1%80%D0%B5%D1%81%3A%20%D0%B3.%20%D0%A3%D0%BB%D0%B0%D0%BD-%D0%A3%D0%B4%D1%8D%2C%20%D1%83%D0%BB.%D0%93%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2C%2020%20%D0%9E%D1%82%D0%B5%D0%BB%D1%8C%20%C2%AB%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D0%BD%C2%BB%2C%201%20%D1%8D%D1%82%D0%B0%D0%B6/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Адрес: г. Улан-Удэ, ул.Гражданская, 20 Отель «Рестон», 1 этаж в Улан‑Удэ</a><a href="https://yandex.ru/maps/198/ulan-ude/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улан‑Удэ</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUVMGqygA" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            </div>
        </div>
    </div>
</section>