<section class="contacts">
    <div class="container">
        <h2 class="contacts__title section-title">Забронируйте отдых на Байкале</h2>
        <form action="#" class="contacts__form">
            <div class="contacts__form-top">
                <label for="" class="contacts__form-field">
                    <input type="text" class="contacts__form-input" placeholder="Ваше имя">
                </label>
                <label for="" class="contacts__form-field">
                    <input type="tel" class="contacts__form-input" placeholder="Телефон">
                </label>
                <label for="" class="contacts__form-field">
                    <input type="email" class="contacts__form-input" placeholder="E-mail">
                </label>
                <label for="" class="contacts__form-field">
                    <input type="text" class="contacts__form-input" placeholder="Местность Байкала">
                </label>
                <label for="" class="contacts__form-field">
                    <input type="number" class="contacts__form-input" placeholder="Количество взрослых">
                </label>
                <label for="" class="contacts__form-field">
                    <input type="number" class="contacts__form-input" placeholder="Количество детей, их возраст">
                </label>
            </div>
            <div class="contacts__form-middle">
                <div class="contacts__form-shorts">
                    <input type="text" class="contacts__form-input" placeholder="Дата заезда">
                    <input type="text" class="contacts__form-input" placeholder="Дата отъезда">
                </div>
                <textarea class="contacts__form-textarea" placeholder="Комментарий"></textarea>
            </div>
            <div class="contacts__form-bottom">
                <button class="contacts__form-btn btn" type="submit">Отправить заявку</button>
                <label class="custom-checkbox contacts__form-checkbox">
                    <input type="checkbox" class="custom-checkbox__input">
                    <span class="custom-checkbox__text">Согласие на обработку персональных данных</span>
                </label>
            </div>
        </form>
    </div>
</section>