<section class="gallery-more">
    <div class="container">
        <ul class="gallery-more__breadcrumbs breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link">Фотогалерея</a>
            </li>
        </ul>
        <h1 class="gallery-more__title big-title">Фотогалерея</h1>
        <div class="gallery-more__grid">
            <div class="gallery-more__item">
                <img src="img/gallery/img-1.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-2.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-3.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-4.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-5.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-6.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-1.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-2.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-3.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-4.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-5.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-6.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-1.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-2.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-3.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-4.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-5.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-6.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-1.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-2.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-3.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-4.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-5.jpg" alt="">
            </div>
            <div class="gallery-more__item">
                <img src="img/gallery/img-6.jpg" alt="">
            </div>
        </div>
        <div class="gallery-more__pag pag">
            <a href="#" class="pag__arrow pag__arrow-left">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-pag-left"></use>
                </svg>
            </a>
            <div class="pag__item pag__item--active">
                <a href="#" class="pag__link">1</a>
            </div>
            <div class="pag__item">
                <a href="#" class="pag__link">2</a>
            </div>
            <div class="pag__item">
                <a href="#" class="pag__link">3</a>
            </div>
            <div class="pag__item pag__item--none">
                <a href="#" class="pag__link">4</a>
            </div>
            <div class="pag__item pag__item--none">
                <a href="#" class="pag__link">5</a>
            </div>
            <div class="pag__item">
                ...
            </div>
            <div class="pag__item">
                <a href="#" class="pag__link">20</a>
            </div>
            <a href="#" class="pag__arrow pag__arrow-right">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-pag-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>