<header class="header">
    <div class="header__body">
        <div class="header__top">
            <div class="header__left">
                <a href="#" class="header__logo">
                    <img src="img/svg/logo.svg" alt="">
                </a>
                <div class="header__text">
                    <div class="header__title">Байкальский отдых</div>
                    <p class="header__subtitle">Турагентство</p>
                </div>
            </div>
            <div class="header__right">
                <a href="tel:8-924-3-541-540" class="header__connect header__connect--phone">8-924-3-541-540</a>
                <a href="mailto:baikalholiday@mail.ru" class="header__connect header__connect--mail">baikalholiday@mail.ru</a>
                <a href="#" class="header__btn">Обратный звонок</a>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li>
                    <a href="" class="menu__link">Бронирование</a>
                    <span class="menu__arrow arrow"></span>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="#" class="sub-menu__link">Отели и базы отдыха</a>
                        </li>
                        <li>
                            <a href="baikal-cruises.html" class="sub-menu__link">Теплоходы и катера</a>
                        </li>
                        <li>
                            <a href="#" class="sub-menu__link">Транспортные услуги</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="menu__link">Экскурсии</a>
                    <span class="menu__arrow arrow"></span>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="camps.html" class="sub-menu__link">Отели и базы отдыха</a>
                        </li>
                        <li>
                            <a href="excursions-1.html" class="sub-menu__link">Экскурсии и туры</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="menu__link">Туры на Байкал</a>
                    <span class="menu__arrow arrow"></span>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="#" class="sub-menu__link">Туры Зима-Весна</a>
                        </li>
                        <li>
                            <a href="#" class="sub-menu__link">Туры Лето-Осень</a>
                        </li>
                        <li>
                            <a href="hunting-and-fishing.html" class="sub-menu__link">Туры охоты и рыбалки</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="menu__link">О Байкале</a>
                    <span class="menu__arrow arrow"></span>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="baikal-map.html" class="sub-menu__link">Карта Байкала</a>
                        </li>
                        <li>
                            <a href="#" class="sub-menu__link">Достопримечательности</a>
                        </li>
                        <li>
                            <a href="#" class="sub-menu__link">Полезная информация</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="menu__link">О нас</a>
                    <span class="menu__arrow arrow"></span>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="contacts-page.html" class="sub-menu__link">Контакты</a>
                        </li>
                        <li>
                            <a href="#" class="sub-menu__link">Агентствам</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="header__right header__right--mob">
                <a href="tel:8-924-3-541-540" class="header__connect header__connect--phone">8-924-3-541-540</a>
                <a href="mailto:baikalholiday@mail.ru" class="header__connect header__connect--mail">baikalholiday@mail.ru</a>
                <a href="#" class="header__btn">Обратный звонок</a>
            </div>
        </nav>
    </div>
</header>