<section class="page-home page-home--buryatia">
    <div class="container">
        <div class="page-home__inner">
            <ul class="page-home__breadcrumbs breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="index.html" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link">Экскурсии и туры</a>
                </li>
            </ul>
            <h1 class="page-home__title">Экскурсии и туры в Бурятии, в Улан-Удэ, на Байкале</h1>
        </div>
    </div>
</section>