<section class="home">
    <div class="container">
        <div class="home__body">
            <h1 class="home__title">Путешествия по Байкалу</h1>
            <h2 class="home__desc">Туры по самому красивому месту России. Поехали с нами за новыми впечатлениями!</h2>
            <div class="center-mob">
                <a href="#" class="home__btn btn">подобрать тур</a>
            </div>
            <a href="#" class="home__arrow">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>