<section class="location">
    <div class="container">
        <p class="location__text">Расположение местностей по побережью озера, можете посмотреть на <a href="#">карте Байкала</a></p>
        <div class="location__inner">
            <div class="location__item">
                <div class="location__img">
                    <img src="img/location/img-1.jpg" alt="">
                </div>
                <div class="location__right">
                    <div class="location__content">
                        <h3 class="location__title">Байкальский прибой</h3>
                        <div class="location__desc">
                            <p>Байкальский прибой – популярная зона отдыха на восточном берегу Байкала, в 130 км от города Улан-Удэ, столицы Бурятии. Находится на побережье залива Посольский сор, соседствует с зоной отдыха «Култушная».</p>
                            <p>Две песчаные косы отделяют залив от Байкала, залив мелководный и хорошо прогревается. </p>
                        </div>
                        <a href="#" class="location__btn">Подробней</a>
                    </div>
                    <ul class="location__list">
                        <h3 class="location__caption">Турбазы</h3>
                        <li>
                            <a href="#" class="location__link">База отдыха «Байкал»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">База отдыха «Энергия»</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="location__item">
                <div class="location__img">
                    <img src="img/location/img-2.jpg" alt="">
                </div>
                <div class="location__right">
                    <div class="location__content">
                        <h3 class="location__title">Горячинск</h3>
                        <div class="location__desc">
                            <p>Старинный поселок рыбаков «Горячинск» находится на восточном побережье озера, расположен около 190 км от города Улан-Удэ. Поселок назван в честь целебных горячих источников.</p>
                            <p>Воды источников Горячинска благоприятно действуют на организм человека и полезны для лечения.</p>
                        </div>
                        <a href="goryachinsk.html" class="location__btn">Подробней</a>
                    </div>
                    <ul class="location__list">
                        <h3 class="location__caption">Турбазы</h3>
                        <li>
                            <a href="hot-key.html" class="location__link">Гостевой дом «Горячий ключ»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Туристический комплекс «Авангард»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Отель «Белая карета»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Отель «Белая карета»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Горхон» Горячинск</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Подворье»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Усадьба «Добрыня»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Дворик»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Горхон» Горячинск</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Подворье»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Усадьба «Добрыня»</a>
                        </li>
                        <li>
                            <a href="#" class="location__link">Гостевой дом «Дворик»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>