<section class="motorships">
    <div class="container">
        <div class="motorships__desc page-desc">
            <p>Круизы – прекрасная возможность увидеть наиболее труднодоступные участки Байкала за одну поездку. Даже непродолжительные по времени круизы, доставят вам массу впечатлений и дадут возможность насладиться природой Священного озера. Во время круиза вы можете посетить заповедники, искупаться в горячих источниках и встретить нерпу в естественной среде обитания. Вас ждет рыбалка, обеды и ужины на свежем воздухе. Удачно провести выходные или отпуск – это значит, выбрать понравившиеся вам круизы по Байкалу. Большинство судов работают по заданному направлению. Обслуживают семейные и групповые путешествия. Отдыхая на турбазах ("Экотур" Чивыркуйский залив, "Кумуткан", "Байкал-Лидер", "Далай" Максимиха, Байкальский прибой и др.) на побережье озера можно воспользоваться возможностью организавать прогулки на теплоходе, чтобы увидеть красоты и достопримечательности озера Байкал.</p>
            <p>Период наиболее безопасной навигации - с середины июня до сентября. А лучшее время отдыха - июль, август. Тогда в мелководных заливах прогревается вода и появляется реальная возможность искупаться. В этот период круизы на Байкале - лучшее предложение отдыха.</p>
        </div>
        <h3>Аренда теплоходов и катеров на Байкале</h3>
        <div class="motorships__grid">
            <div class="motorships__img">
                <img src="img/motorships/img-1.jpg" alt="">
                <a href="#" class="motorships__link">Моторная яхта «Анна-Виктория»</a>
            </div>
            <div class="motorships__img">
                <img src="img/motorships/img-2.jpg" alt="">
                <a href="#" class="motorships__link">Теплоход «Татьяна»</a>
            </div>
            <div class="motorships__img">
                <img src="img/motorships/img-3.jpg" alt="">
                <a href="#" class="motorships__link">Теплоход «Верный»</a>
            </div>
        </div>
    </div>
</section>