<section class="offers">
    <div class="container">
        <h2 class="offers__title section-title">Популярные предложения</h2>
        <div class="offers__grid">
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-1.jpg" alt="">
                </div>
                <div class="offers__caption">Зимний однодневный тур на Чивыркуйский залив</div>
                <div class="offers__desc">Cтоимость 4000 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-2.jpg" alt="">
                </div>
                <div class="offers__caption">Зимний однодневный тур на остров Ольхон</div>
                <div class="offers__desc">Cтоимость 5000 руб.</div>
            </a>
            <a href="#" class="offers__item offers__item--big">
                <div class="offers__img">
                    <img src="img/offers/img-3.jpg" alt="">
                </div>
                <div class="offers__caption">Экскурсия в Иволгинский дацан</div>
                <div class="offers__desc">Продолжительность 4 часа Cтоимость от 500 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-4.jpg" alt="">
                </div>
                <div class="offers__caption">Обзорная экскурсия по Улан-Удэ</div>
                <div class="offers__desc">Продолжительность 3 часа Cтоимость от 500 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-5.jpg" alt="">
                </div>
                <div class="offers__caption">Эко-отель «Байкальское шале», с. Максимиха</div>
                <div class="offers__desc">Стоимость от 6500 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-6.jpg" alt="">
                </div>
                <div class="offers__caption">Летний однодневный тур в Чивыркуйский залив</div>
                <div class="offers__desc">Cтоимость 4000 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-7.jpg" alt="">
                </div>
                <div class="offers__caption">Отель «Белая Карета», с. Горячинск</div>
                <div class="offers__desc">Cтоимость от 3200 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-8.jpg" alt="">
                </div>
                <div class="offers__caption">Однодневная поездка на Байкал «Байкальская Гавань»</div>
                <div class="offers__desc">Стоимость от 1000 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-9.jpg" alt="">
                </div>
                <div class="offers__caption">Парк-отель «Сагаан-Морин», с. Сухая</div>
                <div class="offers__desc">Стоимость от 3500 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-10.jpg" alt="">
                </div>
                <div class="offers__caption">Летний однодневный тур на остров Ольхон</div>
                <div class="offers__desc">Стоимость 8500 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-11.jpg" alt="">
                </div>
                <div class="offers__caption">Парк-отель «Байкальская Ривьера», с. Гремячинск</div>
                <div class="offers__desc">Cтоимость от 3700 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-12.jpg" alt="">
                </div>
                <div class="offers__caption">Зимний тур <br> «Чивыркуйская сказка»</div>
                <div class="offers__desc">Стоимость 2000 руб.</div>
            </a>
            <a href="#" class="offers__item">
                <div class="offers__img">
                    <img src="img/offers/img-13.jpg" alt="">
                </div>
                <div class="offers__caption">Показать все предложения</div>
            </a>
        </div>
    </div>
</section>