<section class="room-desc">
    <div class="container">
        <div class="room-desc__wrapper">
            <div class="room-desc__header">
                <h2 class="room-desc__title">Описание номеров</h2>
                <a href="#" class="room-desc__download">
                    <svg>
                        <use xlink:href="img/sprite.svg#price"></use>
                    </svg>
                    Скачать прайс
                </a>
            </div>
            <div class="room-desc__inner">
                <div class="room-desc__item">
                    <div class="room-desc__item-head">
                        <div class="room-desc__caption">Базовый номер</div>
                        <div class="room-desc__price">Цена от 3200 руб.</div>
                    </div>
                    <div class="room-desc__content">
                        <div class="room-desc__descr">
                            <ul class="room-desc__list">
                                <li class="room-desc__point">
                                    <span>Кровать:</span>семейная или две односпальные
                                </li>
                                <li class="room-desc__point">
                                    <span>Площадь:</span>15 м2
                                </li>
                                <li class="room-desc__point">
                                    <span>Питание:</span>завтрак не включен
                                </li>
                            </ul>
                            <p class="room-desc__text">Оснащен двуспальной кроватью с ортопедическим матрасом стандартного размера (140 см х 220 см). В каждом из них могут разместиться не более двух гостей.</p>
                            <a href="#" class="room-desc__more">Развернуть описание</a>
                        </div>
                        <div class="room-desc__img">
                            <img src="img/room-desc/img-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="room-desc__item">
                    <div class="room-desc__item-head">
                        <div class="room-desc__caption">Комфорт</div>
                        <div class="room-desc__price">Цена от 3600 руб.</div>
                    </div>
                    <div class="room-desc__content">
                        <div class="room-desc__descr">
                            <ul class="room-desc__list">
                                <li class="room-desc__point">
                                    <span>Кровать:</span>две одинарные или две полутороспальные
                                </li>
                                <li class="room-desc__point">
                                    <span>Площадь:</span>22 м2
                                </li>
                                <li class="room-desc__point">
                                    <span>Питание:</span>завтрак включен
                                </li>
                            </ul>
                            <p class="room-desc__text">Каждый из номеров имеет две односпальные кровати (90 см х 220 см) с ортопедическими матрасами и ортопедический наматрасник (200 см х 220 см) для трансформации в одну двуспальную. </p>
                            <a href="#" class="room-desc__more">Развернуть описание</a>
                        </div>
                        <div class="room-desc__img">
                            <img src="img/room-desc/img-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>