<section class="stat">
    <div class="container">
        <div class="stat__body">
            <div class="stat__item">
                <div class="stat__count">7</div>
                <div class="stat__text">лет успешной работы</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">250+</div>
                <div class="stat__text">отелей на Байкале</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">100+</div>
                <div class="stat__text">различных туров</div>
            </div>
            <div class="stat__item stat__item--big">
                <div class="stat__count">30000</div>
                <div class="stat__text">кв. км – площадь на которой мы организовываем путешествия</div>
            </div>
            <div class="stat__item">
                <div class="stat__count">50000</div>
                <div class="stat__text">довольных туристов от 3 до 85 лет</div>
            </div>
        </div>
    </div>
</section>